$bg-main: #fff;
$bg-accent: #00BFA6;
$clr-accent: #00BFA6;

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: $bg-main;
  font-family: 'Montserrat', sans-serif;
  padding: 0 10px;
}

.clr-accent {
  color: $clr-accent
}

.bg-accent {
  background-color: $bg-accent;
}

#app {
  overflow-x: hidden;
  text-align: center;
}